/* notemanagement.css */

/* AnchorPane */
#AnchorPane {
    -fx-background-color: #f0f5ff;
}

/* ComboBox */
#cmbEtudiants,
#cmbMatieres {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
}

/* TextField */
#txtNote {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
}

/* Button */
#btnSaisirNote,
#btnUpdateNote,
#btnDeleteNote,
#btnUpdateNote1,
#btnSupprimerNote11 {
    -fx-background-color: #1e90ff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-pref-width: 100px;
}

#btnSaisirNote:hover,
#btnUpdateNote:hover,
#btnDeleteNote:hover,
#btnUpdateNote1:hover,
#btnSupprimerNote11:hover {
    -fx-background-color: #007bff;
}



/* TableColumn */
#colNomEtudiant,
#colMatiere,
#colNote {
    -fx-background-color: #cfe3ff;
}

/* Label */
#lblNote {
    -fx-font-weight: bold;
}

/* Styling for individual labels */
.label {
    -fx-font-size: 14px;
}

